In [1]:
import pandas as pd
import os

In [2]:
def xyzFromList(df):
    x = df['Molecule']
    for i in range(len(x)):
        x[i] = x[i] + '.xyz'
        
    file = open("data_MMFF94.txt", 'r')
    Lines = file.readlines()
    
    ind = [None]*75
    j = 0

    for i in range(len(Lines)):
        if(len(Lines[i]) != 0):
            if(Lines[i][0] == "0" or Lines[i][0] == "1" or Lines[i][0] == "2" or Lines[i][0] == "3" 
               or Lines[i][0] == "4" or Lines[i][0] == "5" or Lines[i][0] == "6" or Lines[i][0] == "7" 
               or Lines[i][0] == "8" or Lines[i][0] == "9"):
                ind[j] = i
                j += 1

    ind[74] = len(Lines)
    
    for i in range(len(x)):
        for j in range(ind[i], ind[i + 1]):
            with open(x[len(x) - i - 1], 'a') as f:
                    f.write(Lines[j])

In [10]:
def SMILESFromDf(df):
    x = df['Molecule']
    for i in range(len(x)):
        x[i] = x[i] + '.smi' 
    
    y = df['SMILES']
    
    for i in range(len(x)):
         with open(x[i], 'a') as f:
                f.write(y[i])

In [11]:
df = pd.read_csv('CC.csv')
df

                          Molecule                          SMILES
0                            C6EO2                      CCCCCCOCCO
1                            C6EO3                   CCCCCCOCCOCCO
2                            C6EO4                CCCCCCOCCOCCOCCO
3                            C8EO3                 CCCCCCCCOCCOCCO
4                            C8EO4              CCCCCCCCOCCOCCOCCO
..                             ...                             ...
70  Ziegler C14 0PO3EO Carboxylate   CCCCCCCCCCCCCCOCCOCCOCCC(=O)O
71              Sodium naphthenate  CCC1CCC(C1)CCC(=O)[O-].[Na+]
72                       Dodecanol                 CCCCCCCCCCCCO
73              810FD-5 Ethoxylate       CCCCCCCCCOCCOCCOCCOCCOCCO
74                             AMA                CC(=C)C(=O)OCC=C

[75 rows x 2 columns]

In [12]:
SMILESFromDf(df)

In [46]:
df = pd.read_csv('data.csv')

xyzFromList(df)

C:\Users\Nick\AppData\Local\Temp/ipykernel_24572/3524770697.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i] = x[i] + '.xyz'

In [ ]:
xyzFromList(df)